<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="icon.png">

		<link rel="stylesheet" href="{{ push('/static/css/normalize.css', as='style', rel='preload') }}">
		<link rel="stylesheet" href="{{ push('/static/css/main.css', as='style', rel='preload') }}">
    </head>
    <body>
        <!-- Add your site or application content here -->
        <p>Hello world! This is HTML5 Boilerplate.</p>
		<script src="{{ push('/static/js/vendor/modernizr-3.5.0.min.js', rel='preload') }}"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="static/js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
